<div class = "wrapper">
  <h1>Bienvenue, <%= @coworking.coworking_manager.first_name %> !</h1>
  <p>Sur cette page vous allez pouvoir mettre à jour les informations de votre coworking. A vous de jouer !</p>
  <strong>(<%=@coworking.name%>, <%= @coworking.address %>)</strong>
  <div class = "edit-coworking block">
    <%= render "edit-blocks"%>
  </div>
</div>
