<div class="hero">
  <div>
    <h1>Le futur du travail se passe ici</h1>
    <div class="search">
      <input type="search" name="" id="" class="search-field"
          placeholder="Où-est-ce qu'on bosse ?">
      <button type="submit" class="btn btn-primary">On y va !</button>
    </div>
  </div>
</div>
<div class="wrapper">
      <section>
        <h3 class="section-title">Du coworking près de chez vous...</h3>
        <div class="new-spots-section">
          <div>
            <div class="img-div">
              <img
                src="https://images.unsplash.com/photo-1502602898657-3e91760cbb34?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGFyaXN8ZW58MHx8MHx8&auto=format&fit=crop&w=900&q=60"
                alt="">
            </div>
            <div class="city-div">
              <span class="city">Paris</span>
              <span class="activity-city">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
            </div>
          </div>
          <div>
            <div class="img-div">
              <img
                src="https://images.unsplash.com/photo-1597319327173-efb8c3e632ca?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80"
                alt="">
            </div>
            <div class="city-div">
              <span class="city">Marseille</span>
              <span class="activity-city">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
            </div>
          </div>
          <div>
            <div class="img-div">
              <img
                src="https://images.unsplash.com/photo-1493564738392-d148cfbd6eda?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                alt="">
            </div>
            <div class="city-div">
              <span class="city">Bordeaux</span>
              <span class="activity-city">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
            </div>
          </div>
          <div>
            <div class="img-div">
              <img
                src="https://images.unsplash.com/photo-1544013592-1c2496aa255e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                alt="">
            </div>
            <div class="city-div">
              <span class="city">Nantes</span>
              <span class="activity-city">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
            </div>
          </div>
          <div>
            <div class="img-div">
              <img
                src="https://images.unsplash.com/photo-1590274853751-8fb10591d007?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YW5uZWN5fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                alt="">
            </div>
            <div class="city-div">
              <span class="city">Annecy</span>
              <span class="activity-city">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
            </div>
          </div>
          <div>
            <div class="img-div">
              <img
                src="https://images.unsplash.com/photo-1600775653108-3e08a69d224c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80"
                alt="">
            </div>
            <div class="city-div">
              <span class="city">Lyon</span>
              <span class="activity-city">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
            </div>
          </div>
          <div>
            <div class="img-div">
              <img
                src="https://images.unsplash.com/photo-1567351673954-0cb49f639dc4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"
                alt="">
            </div>
            <div class="city-div">
              <span class="city">Toulouse</span>
              <span class="activity-city">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
            </div>
          </div>
          <div>
            <div class="img-div">
              <img
                src="https://images.unsplash.com/photo-1601718747314-f144ab340cca?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=676&q=80"
                alt="">
            </div>
            <div class="city-div">
              <span class="city">Lille</span>
              <span class="activity-city">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
            </div>
          </div>
        </div>
      </section>
            <section>
        <h3 class="section-title">Du coworking loin de chez vous !</h3>
        <div class="activities">
          <div>
            <div class="img-activities">
              <img
                src="https://images.unsplash.com/photo-1586227740560-8cf2732c1531?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1428&q=80"
                alt="">
            </div>
            <h4>Au bord d'un lac</h4>
          </div>

          <div>
            <div class="img-activities">
              <img
                src="https://images.unsplash.com/photo-1572511443032-a3cfe6823872?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1351&q=80"
                alt="">
            </div>
            <h4>Sous les cocotiers</h4>
          </div>
          <div>
            <div class="img-activities">
              <img
                src="https://images.unsplash.com/photo-1590580673100-ee7ee687bfa6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODZ8fGRpZ2l0YWwlMjBub21hZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                alt="">
            </div>
            <h4>A la montagne</h4>
          </div>
      </section>
      <section class="find-inspiration">
      <a href="#" class="btn btn-primary teal">Trouvez l'inspiration</a>
      </section>
      <section class="join-us">
        <div class="category-customer">
          <h3>Vous êtes gérant d'un espace de coworking ?</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus hic ducimus qui voluptatum maxime repellat
            ratione mollitia. Quae praesentium quo saepe, suscipit doloribus, unde recusandae, voluptas sequi omnis
            incidunt blanditiis.</p>
          <button class="btn btn-primary bottom">Rejoignez-nous</button>
        </div>
        <%# <div class="bordure-2"></div> %>
        <div class="category-customer">
          <h3>Vous êtes une entreprise ?</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus hic ducimus qui voluptatum maxime repellat
            ratione mollitia. Quae praesentium quo saepe, suscipit doloribus, unde recusandae, voluptas sequi omnis
            incidunt blanditiis.</p>
          <button class="btn btn-primary bottom">Rejoignez-nous</button>
        </div>
        <div class="category-customer">
          <h3>Vous êtes freelance ?</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus hic ducimus qui voluptatum maxime repellat
            ratione mollitia. Quae praesentium quo saepe, suscipit doloribus, unde recusandae, voluptas sequi omnis
            incidunt blanditiis.</p>
          <button class="btn btn-primary bottom">Rejoignez-nous</button>
        </div>
      </section>
</div>