<h1 class="team-title">La Woovv Team </h1>

<p> La Woovv Team c'est : Suspendisse non felis vel mi faucibus scelerisque ac id ante. Cras vel elementum diam. Aliquam erat volutpat. Curabitur pulvinar fringilla urna, viverra scelerisque tellus laoreet at. Nam scelerisque eget dui et pretium. Donec eget dictum diam. Sed vitae nisl non ante lacinia sagittis id sed nibh. Mauris nec mi ultricies, venenatis leo ut, placerat risus. Vestibulum rhoncus tortor nec egestas pellentesque. Vivamus molestie tempor risus eu gravida. Donec et dolor et ante ullamcorper hendrerit. </p>
<div class="card-box">  
    <div class="card" style="width: 18rem;">
    <img src="https://media-exp1.licdn.com/dms/image/C4D03AQHf0zCy51LVXw/profile-displayphoto-shrink_800_800/0/1517491876098?e=1636588800&v=beta&t=pmdczFjmSWFvyk_m1wkTyAQ06baHQwa1Bunl9Hq1COE" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jonathan Justman/h5>
            <p class="card-text">CSS Master, il décore vos banals pages html en splendides oeuvres css </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
    <img src="https://media-exp1.licdn.com/dms/image/C4D03AQHgl6Pp9zktVQ/profile-displayphoto-shrink_800_800/0/1542305409290?e=1636588800&v=beta&t=ZvTxIuvpXSMiaKgCyX3CQuV5oiWPFNZ-UQGOE2_k0DA" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Marin Chrétien</h5>
            <p class="card-text">CEO & cerveau de woovv. Son truc à lui c'est les croissants au beurre...au beurre.</p>
            <a href="marin.chretien@gmail.com" class="btn btn-primary">Entrer en contact</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
    <img src="https://media-exp1.licdn.com/dms/image/C5603AQGN6ZBPyIUoYw/profile-displayphoto-shrink_800_800/0/1556526463247?e=1636588800&v=beta&t=zkSLxPOCZZ4xVqcF6ihAhkWfZ9TzCjrOv_ABe_n9veI" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">David Guetta</h5>
            <p class="card-text">Le BDD Master, il conçoit, casse et concasse les BDD presque sans râler. </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
    <img src="https://media-exp1.licdn.com/dms/image/C4E03AQHh_FNAnzZJWQ/profile-displayphoto-shrink_800_800/0/1563209616979?e=1636588800&v=beta&t=jLAB44t9YVfdNTqgS054eZKtDnUKv3C4l5Vg0kdwpvw" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Amélie Loulergue</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
    <img src="https://pbs.twimg.com/profile_images/870575854954450949/bIJZgHmG.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Ambroise Bréant</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Le borgne de l'équipe, </a>
        </div>
    </div>
</div>

<div class="btn-fun">
    <button type="button" class="btn btn-success"> Clique ici pour + de fun </button>
</div>

<div class="team-img">
    <div> 
        <%= image_tag "photo_shots.jpg"%>
    </div>
</div>



