<div class="wrapper">
  <h1 class="team-title text-center">La Woovv Team </h1>
  <div class="team-grid">
    <div class="jo">
      <div class="photo-team ">
        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQHf0zCy51LVXw/profile-displayphoto-shrink_800_800/0/1517491876098?e=1636588800&v=beta&t=pmdczFjmSWFvyk_m1wkTyAQ06baHQwa1Bunl9Hq1COE" alt="...">
      </div>
      <div class="team-presentation">Jonathan 
        <p><small>Jonathan Justman, notre expert CSS, il est le plus têtu de l'équipe et manque de patience. Le master CSS décore vos banals pages html en splendides oeuvres.</small></p>
      </div>
    </div>
    <div class="marin">
      <div class="photo-team">
        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQHgl6Pp9zktVQ/profile-displayphoto-shrink_800_800/0/1542305409290?e=1636588800&v=beta&t=ZvTxIuvpXSMiaKgCyX3CQuV5oiWPFNZ-UQGOE2_k0DA" alt="...">
      </div>
      <div class="team-presentation">Marin 
        <p><small>Marin Chrétien, CEO & cerveau de woovv. Il casse & répare avec patience les environnements de production, il restart les dynos avec aisance et il est imperturbable dans le code, même quand il y a du vent. Son truc à lui c'est les croissants au beurre...au beurre.</small></p>
      </div>
    </div>
    <div class="david">
      <div class="photo-team ">
        <img src="https://media-exp1.licdn.com/dms/image/C5603AQGN6ZBPyIUoYw/profile-displayphoto-shrink_800_800/0/1556526463247?e=1636588800&v=beta&t=zkSLxPOCZZ4xVqcF6ihAhkWfZ9TzCjrOv_ABe_n9veI" alt="...">
      </div>
      <div class="team-presentation">David 
        <p><small>David Guetta, notre expert de la base de données, buveur de Calva à tout heure (pour mieux robustifier nos données). Le BDD Master conçoit, casse et concasse les BDD presque sans râler.</small></p>
      </div>
    </div>
    <div class = "amelie">
      <div class="photo-team ">
        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQHh_FNAnzZJWQ/profile-displayphoto-shrink_800_800/0/1563209616979?e=1636588800&v=beta&t=jLAB44t9YVfdNTqgS054eZKtDnUKv3C4l5Vg0kdwpvw" alt="...">
      </div>
      <div class="team-presentation">Amélie 
        <p><small> Amélie Loulergue, notre expert API, elle prend en main avec patience les nouvelles API et les intègre sans casse dans l'application. Le matin, elle se lève avant tout le monde pour coder. </small></p>
      </div>
    </div>
    <div class="ambroise">
      <div class="photo-team">
        <img src="https://pbs.twimg.com/profile_images/870575854954450949/bIJZgHmG.jpg" alt="...">
      </div>
      <div class="team-presentation">Ambroise 
        <p><small>Ambroise Bréant, notre digital nomad, il a testé le remote depuis des terres éloignées pour s'imprégner de l'esprit Woovv et proposer un produit adapté à nos Woovvers. Il a traversé les mers pour lancer le meilleur coworking de France à Surtainville, là où tout a commencé. </small></p>
      </div>
    </div>
    <div class="full-team">
      <div class="photo-team">
        <%= image_tag "photo_shots.jpg" %>
      </div>
      <div class="team-presentation">Qui nous sommes vraiment...</div>
    </div>
    <div class="falafel">
      <div class="photo-team">
        <img src="https://www.delonghi.com/Global/recipes/multifry/195.jpg" alt="...">
      </div>
      <div class="team-presentation">Notre passion commune 
        <p><small> Chez Woovv, on aime les falafels. Et pour mêler notre passion du falafel à celle de l'informatique; nous avons lancé le falafel•case pour standardiser nos nommages sur GitHub. Utilisez•le•falafel•case : une utilisation écoresponsable et bio de GitHub.</small></p>
      </div>
    </div>
    <div class="elon">
      <div class="photo-team">
        <img src="https://s.rfi.fr/media/display/4c6b6526-5115-11eb-b423-005056bf18d4/w:1280/p:16x9/AP20336688150114.webp" alt="...">
      </div>
      <div class="team-presentation">Our Master</div>
    </div>
    <div class="kiffance">
      <div class="photo-team">
        <img src="https://i.ytimg.com/an/3r9vJI5OiV8/11592761986556371895_mq.jpg?v=60390eb6" alt="...">
      </div>
      <div class="team-presentation">Our Master #2</div>
    </div>
  </div>
</div>
</div>
