<div class="wrapper devise-view new-pwd">
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <h2>Renvoyer les instructions de confirmation </h2>
      <%= render "devise/shared/error_messages", resource: resource %>
      <p> Il a peut-être atteri dans les spams, pensez à y jeter un oeil.</p> 
      <p>Entrez l'e-mail associé à votre compte pour recevoir le lien. </p>
      <div class="field">
      	<div class="field container-su">
          <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"Email",class:"field-su", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        </div>
      </div>
			<div class="actions">
        <%= f.submit "Renvoyer" , class:"btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>