<div class = "devise-view">
  <div class = "devise-left-background-image"></div>
  <div class="wrapper">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <h2>Renvoyer les instructions de confirmation </h2>
      <%= render "devise/shared/error_messages", resource: resource %>
      <p>L'email a peut-être atteri dans les spams, pensez à y jeter un oeil.</p>
      <p>Si ce n'est pas le cas, pas de panique ! Entrez simplement l'e-mail associé à votre compte pour recevoir le lien. </p>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"Email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>
      <div class="field">
        <%= f.submit "Renvoyer" , class:"btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
</div>
