<div class="modal fade" id="modalHelpForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Centre d'aide Woovv</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3 text-center">
        <div class="row">
          <div class="col-12">
            <%=image_tag("https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80")%>
          </div>
          <div class="col-12">
            Nos équipes techniques sont sur le coup ... 
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        Notre centre d'aide est en cours de préparation !
      </div>
    </div>
  </div>
</div>
