<style>
  div {
    width:1000px;
    height:200px;
    background-color:#92daca;
      }
  
      p{
        color:green
      }
</style>
<div></div>
<p>Hello <%= @coworker.first_name %>,</p>
<p>Ta demande de réservation a bien été effectuée.</p>
<p>Le front-desk du coworking "<%= @coworking.name %>" va te donner une réponse dans les plus brefs délais... </p>
<strong>Stay tuned!</strong>
