<h1>Hello <%= @coworker.first_name %></h1>
<p> votre demande de réservation a bien été effectuée</p>
<p>Le front-desk du coworking "<%= @coworking.name %>" va valider la réservation dans les plus brefs délais... </p>
<h1>Stay tuned!</h1>
