<style>
  div {
    width:1000px;
    height:200px;
    background-color:#92daca;
      }
  
      p{
        color:green
      }
</style>
<div></div>
<p>Hello <%= @coworker.first_name %>,</p>
<p>Sorry... ta demande de réservation a été refusée 😱 !</p>
<p>N'hésitez pas à prendre contact avec <%= @manager %> pour connaître les raisons de ce refus.</p>
<strong>A bientôt sur Woovv.io!</strong>
