<div>
  <h5>Equipements :</h5>
  <ul class="equipment">
    <li> Equipement 1 </li>
    <li> Equipement 2 </li>
    <li> Equipement 3 </li>
    <li> Equipement 4 </li>
    <li> Equipement 5 </li>
  </ul>
</div>
