<%= form_with(model: coworking, local: true) do |form| %>
  <% if coworking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coworking.errors.count, "error") %> prohibited this coworking from being saved:</h2>
      <ul>
        <% coworking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
