<h5>Horaires semaine :</h5>
<p>Ouverture :</p>
<i class="far fa-clock"></i>
<%= @coworking.availability.week_opening_time %>
<p> Fermeture : </p>
<i class="far fa-clock"></i>
<%= @coworking.availability.week_closing_time %>
