<h5>Horaires semaine :</h5>
<div>
  <i class="far fa-clock"></i>
  <a>Ouverture :</a>
  <%= @coworking.availability.week_opening_time %>
</div>
<div>
  <i class="far fa-clock"></i>
  <a> Fermeture : </a>
  <%= @coworking.availability.week_closing_time %>
</div>
