<div class="wrapper">
  <%= render 'zipcode_selector'%>
  <div class="map-page">
    <div class='sidebar'>
      <div class='heading'>
        <h1>Liste des coworkings</h1>
      </div>
      <div id='listings' class='listings'></div>
    </div>
    <div id='map' value="<%=@coordinates%>" value1="<%=@stores%>" focus="<%=@box_focus%>" ></div>
  </div>
</div>
