<h1>Vous avez un nouvel email !</h1>
<p> <strong> Expéditeur </strong>: <%= @email %></p>
<p> <strong> Expéditeur </strong>: <%= @object %></p>
<p> <strong> Contenu </strong>: </p>
<p><%= @content %> </p>
