.avatar {
  position: relative;
  transition: 0.25s all;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  width: 100%;
  height: 100%;
  /* border: 3px red solid; */
}

.avatar-photo {
  height: 20rem;
  width: 15rem;
  padding: 0;

}

.avatar-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.75rem;
}

.avatar-without-photo {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  overflow: hidden;
  background-color: teal;
  border:1px solid teal;
}

.avatar-delete{
  color:orangered;
  position:absolute;
  bottom: 0.5rem;
  right: 1rem;
  display: none;
}

.avatar-edit{
  color:orangered;
  position:absolute;
  bottom: 0.5rem;
  right: 2.5rem;
  display: none;
}

.user-pic:hover .avatar-delete,
.user-pic:hover .avatar-edit  {
  display: block;
}

.avatar-without-photo:hover {
  background-color: teal;
  border-color: white;
}