.btn:not(.dropdown-btn) {
  border-radius: 0;
}

.btn-primary {
  background-color: #92DACA;
  border-color: transparent ;
  
}
.btn-primary:hover {
  background-color: teal;
  border-color: transparent;
}

.btn-outline {
  border: 1px #92DACA solid;
}