

.field-su{
    display: flex;
    border: 1px #92DACA solid;
    /* margin: 1em; */
    /* width: 60%; */
    margin-bottom: 1rem;
}

.new_user {
    /* border: 3px red solid; */
    width: 60%;
    margin: auto;
}

.field.container-su.remember {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    /* width: 60%; */
    /* align-self: center; */
    /* justify-content: center; */
    
}

.field.container-su.remember label{
    margin-bottom: 0;
}

form > div {
    /* border: 2px lime solid; */
    display: flex;
    flex-direction: column;
}

.container-su{
    display: flex ;
    flex-direction: column;
    /* align-items: center; */
    
    /* border: orange 1px solid ; */
    /* width: 100%; */
    margin: 0rem 1rem
}

.container-si{
    flex-direction: column;
    width: 100%;
}

.div-su{
    display: flex;
    margin: 1rem;
}

.div-su .btn-su {
    justify-self: center;
    margin: 0 auto;
}

.new_user a {

    font-size: 0.9rem;
    margin-left: 1rem;
}

.new_user {
    display:flex;
    flex-direction: column;
}

.btn btn-primary{
    background-color: #92DACA;
    color: white;
    font-family: 'Josefin Sans';
    font-size: 1.2em;
    width: 110px ;
    height: 45px ;
    /* border-radius: 7px ; */
}

.password1{
display: flex;
}


.label-su{
    margin:0;
    padding: 0;
}
.cancel-account{
    border-left: solid 2px teal;
    padding-left: 10px
}

.forgot-field{
    border-radius: 7px;
}

.forgot-btn{
    /* border: rgb(189, 19, 19) solid 1px; */
    border-radius: 7px;
    background-color: #92DACA ;
    margin-top: 1em;
}

.field-mail{
    display: flex;
    justify-content: center;
}

.field-su-fg{
    display: flex;
    border-radius: 7px;
    /* margin: 1em; */
    width: 74%;
    margin-bottom: 1rem;
}