@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;700;800&family=Josefin+Sans:wght@100;300;400;700&family=Roboto:wght@100;300;400;700&display=swap');


:root {
  --padding-margin-s: 3rem;
  --color-primary:#92DACA;
  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Josefin Sans';
  min-height: 100vh;
  display:flex;
  flex-direction: column;
  /* overflow-x: hidden; */
}

h1, h2, h3, h4, h5, h6 {
      font-family: "Baloo 2";
      font-weight: bolder;
}

.wrapper {
  padding:var(--padding-margin-s);
  background-color: rgb(252, 252, 252);
  /* border: 3px black solid; */
  /* width:90%; */
}

input[type=text], input[type=tel], input[type=email]  {
  border: 1px var(--color-primary) solid;
  outline: hidden;
}

textarea {
  border: 1px var(--color-primary) solid;
  outline: hidden;
}

input::placeholder{
}

input:focus {
  outline:none
}

.hero {
  background-image: url('https://images.unsplash.com/photo-1586227740560-8cf2732c1531?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1128&q=80');
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  background-position: center;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1rem;
}

.hero h1 {
  color: white;
  font-size: 3rem;
  font-family: 'Baloo 2';
  margin-bottom: 0;
}

.hero h2 {
  color: white;
  font-size: 1.25rem;
  margin-bottom: 0;
  letter-spacing: 2px;
}

.hero > div {
  margin: 0 var(--padding-margin-s);
}

.search-field {
  width:50%;
  padding: .375rem .75rem;
  min-width: 15rem;
  max-width: 30rem;

}

.search {
  /* min-width: 45rem; */
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  /* border: 3px red solid; */
}

.btn-primary.search-btn {
  border: 1px var(--color-primary) solid;
}

.search-field:focus {
  border: 1px teal solid;
}

h3 {
  font-weight: bolder;
}

.new-spots-section {
  /* border: 3px red solid; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, max-content) );
  gap: 2rem;
  padding: 1rem;
}

.new-spots-section > div {
  /* border: 3px lime solid; */
  display: flex;
  align-items: center;
  gap: 1rem;
  /* flex: 1 1 auto; */
}

.img-div {
  /* border: 3px purple solid; */
  height: 7rem;
  width: 7rem;
  /* border-radius: 0.3rem; */
  overflow: hidden;
  transition: 0.5s all;
  flex-shrink: 0;

}

.img-div:hover {
  transform: scale(1.05);
}

.img-div > a img {
  height: 100%;
  width: 100%; 
  object-fit: cover;
}

.city-div {
  display: flex;
  flex-direction: column;
  /* border: 3px purple solid; */
  max-width: 12rem;
}

.city-div a{
 font-weight: bolder;
}


.city {
  font-size: 1.1rem;
}

.activity-city {
  font-size: 0.9rem;
}

section {
  margin-bottom: 4rem;
}

.activities {
  padding: 1rem;
  display: flex;
  gap: 2rem;
  overflow-x: scroll;
  justify-content: space-between;
}

.activities > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 15rem;
  /* border: 3px red solid; */
  flex: 0 0 30%;
}

.img-activities {
  /* border: 1px lime solid; */
  position: relative;
  height: 20rem;
  min-width: 15rem;
  transition: 0.25s all;
}

.img-activities:hover {
  opacity: 0.8;
}

.img-activities > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* border-radius: .25rem; */
}

.find-inspiration {
  padding: 1rem;
  height: 75vh;
  width: 100%;
  /* border: 2px var(--color-primary) solid; */
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1564499504739-bc4fc2ae8cba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1190&q=80");;
  background-size: cover;
  background-position: center;
  /* border-radius: 0.5rem; */
}

.find-inspiration h2 {
  position: absolute;
  top: 3rem;
  left: 2rem;
}

.join-us {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr) );
  gap: 1rem;
}

.category-customer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px var(--color-primary) solid;
  padding: 2rem;
  /* border-radius: 0.5rem; */
  /* justify-content: center; */
}

.btn-primary.bottom {
  margin-top: auto;
  display: block;
}

.btn-primary.teal {
  background-color: teal;
}

.btn-primary.teal:hover {
  background-color: var(--color-primary);
  color: black;
}

@media (max-width:1183px){
  .city-div {
      max-width: 20rem;
  }
}

@media (max-width:831px){
  .wrapper {
    padding:1rem;
  }

  /* .city-div {
    max-width: 100%;
  } */

  .activities > div {
    flex: 0 0 100%;
  }
}

@media (max-width:503px){
  .hero h1 {
    font-size:2.5rem;
  }
  .hero h2 {
    font-size:1.1rem;
  }

}


form a {
  color: black;
}

.cafe {
  display:flex;
  flex-direction: row;
  gap:0.5rem;
}

.cafe-width {
  min-width:33%;
}

.city{
  color: black;
}

#carouselExampleControls {
  /* border: 3px red solid; */
  width:100%;
  overflow: hidden;
}

.div-coworking-manager {
  align-items: center;
}

.carousel.show {
  margin: O;
}

#carouselExampleControls img {
  object-fit: cover;
}

.img-coworking-manager {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

.cw-title {
  margin-bottom: 0;
}

.flex {
  display: flex;
  /* align-items: center; */
  /* border: 1px red solid; */
  gap: 1rem;
  margin: 0 0 2rem 0;
}

.flex.opening-hours { 
  gap:4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.img-coworking-manager img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.block-1 {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  /* justify-content: space-between; */
}

.block-1-left {
  box-shadow: var(--shadow);
  /* border: 3px red solid; */
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.block-1-left h5 {
  font-weight: bolder;
}

.block-1-left ul {
  margin-left: 0.5rem;
}

.block-1-right {
  /* border: 3px lime solid; */
  padding: 3rem;
  box-shadow: var(--shadow);
  display: flex;
  height: max-content;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: center; */
  /* background-color: white; */
  /* justify-content: flex-start; */
}

.block-1-right input {
  border: 1px var(--color-primary) solid;
}

.block-1-right label {
  font-weight: bolder;
}

.block-1-right > div {
  margin-bottom: 2rem;
}

h1.show.coworking {
  font-size: 1.75rem;
  font-weight: bolder;
  margin-bottom: 0;
}

.flex > * {
  margin: 0;
}

.show.map {
  overflow: hidden;
  height: 60vh;
  width: 100%;
  margin: 2rem 0;
  display: flex;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
} 

.flex.opening-hours > div {
  max-width: 20rem;
}

p.address {
  font-size: 1.2rem;
}

.padding-s {
  padding: 3rem;
}

.block-1 li {
  list-style-type: disc;
}

.block-1-right h3 {
  margin-bottom: 2rem;
}

#toshow a {
  color: inherit;
  text-decoration: none;
}

.description {
  margin-bottom: 2rem;
}

.cgv {
  display: flex;
  align-items: center;
}

.cgv p {
  margin: 0;
  margin-left: 1rem;
}

.edit-coworking.block {
      display: flex;
      flex-direction: column;
      align-items: center;  
      
}


.edit-coworking.block1 {
      box-shadow: var(--shadow);
      display: flex;
      flex-direction: column;
      padding: 2rem;    
      width: 45%;
      margin: 0.75rem;
      background-color: white;
      align-items:  center;
}

.cw-edit.active-storage {
      margin: 3rem;
      display: flex;
      flex-direction: column;
}

.cw-edit.active-storage > * {
      margin:1rem
}

.edit-coworking label {
      margin-bottom: 0;
      color: teal;
}

.edit-coworking > div {
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
}

.edit-coworking > div > div {
      display: flex;
      align-items: center;
      /* margin-bottom: 1rem; */
}

.edit-coworking h2 {
      margin-bottom: 1.5rem;
}

.edit-coworking h3 {
      font-family: 'Baloo 2';
      font-weight: bolder;
      font-size: 1.25rem;
      margin-bottom: 1.25rem;
      margin-top: 0;
}

.edit-coworking.checkbox > div{
      /* background-color: #92DACA; */
      flex-direction: row;
      align-items: center;
}


.edit-coworking.checkbox .day{
      /* background-color: #92DACA; */
      flex-direction: column;
      align-items: center;
}

.edit-coworking.checkbox.reverse > div label {
      margin:0 1rem 0 0
}

.edit-coworking.checkbox > div label{
    width: unset;
    margin-left: 1rem;
}

.edit-coworking.checkbox label {
      color: black;
      }

.edit-coworking h3:not(:nth-child(1)){
      /* margin-top: 1.5rem; */
}

.edit-coworking input.btn:not(input[type=checkbox]) {
      margin-top:1rem;
      align-self:center;
      width: max-content;
}

.edit-coworking input[type=text],
.edit-coworking input[type=tel], 
.edit-coworking input[type=number], 
.edit-coworking input[type=email]{
      max-width: 20rem;
      min-width: 10rem;      
      height: 2rem;
      padding:0.3rem;
      font-size: 0.9rem;
      background-color: rgb(249, 249, 249);
}

.edit-coworking textarea{
      max-width: 20rem;
      min-width: 10rem;
      min-height: 10rem;
      padding:0.5rem;
      font-size: 0.9rem;
      background-color: rgb(249, 249, 249);

}

form { 
      width: 80%;
      /* border: 2px teal solid; */
}

.radio {
      flex-direction: column;
}

.radio > div {
      padding: 0 1rem;
}


form > .in-line {
      flex-direction: row;
}

.edit-coworking.checkbox.in-line {
      flex-direction: column;
}

.edit-coworking.checkbox.in-line > div {
      flex-direction: column;
}

.day {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0.5rem;
}

.edit-coworking.checkbox.in-line .day label {
      margin-left: 0;
}

.label-bullet {
      width: 10rem;
}

.edit-coworking.checkbox > div .animals {
      margin-right: 1rem;
      width: 10rem;
}

.opening-closing-hour {
      width: 10rem;
}

.btn-delete {
     z-index: 1000000;
     position: absolute;
     bottom: 0;
     right: 0;
}

.wrapper.devise-view {
      color:white;
      background-color: teal;
      width: 50%;
}

.devise-view  {
     display: flex;
     min-height: 70vh;
}

.devise-view a {
      color:inherit;
}

.devise-left-background-image {
      background-image: url('https://images.unsplash.com/photo-1616503951625-9cc974aaf1c3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80');
      width: 50%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
}

.devise-left-background-image.sign-up {
      background-image: url('https://images.unsplash.com/photo-1483389127117-b6a2102724ae?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80');

}





.wrapper.devise-view input:not( input[type=submit]) {
      color: black;
      padding: 0.25rem 1rem;
}

.wrapper.devise-view .btn-primary:hover {
      background-color: white;
      color: black;
}


.wrapper.devise-view.new-pwd {
      height: 100%;
      width: 100%;
}

.wrapper.devise-view.new-pwd form {
      width: 40%;
      max-width: 30rem;
      min-width: 20rem;
      padding: 2rem;
}

.wrapper.devise-view h2 {
      text-align: center;
      display: block;
      margin-bottom: 1rem;
}

.wrapper.devise-view.new-pwd .btn,
.wrapper.devise-view p {
  margin:1rem;
  margin-top: 0;
}

.form-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-contact.field {
  margin-bottom: 1rem;
}

.form-contact.field label{
  font-weight: bolder;
}

.modal-body {
  display: flex;
  justify-content: center;
}

.modal-title {
  text-align: center;
  align-self: center;
}

.modal-header {
  justify-content: center;
}

.modal-header .close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}