
#map {
  width: 60%;
  min-width:30rem;
  height: 80vh;
  min-height: 30rem;
}

.coworking-list {
  height: 80vh;
  width: 40%;
  overflow-y: scroll;
}

.sticky-bar {
  display: block;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 100000;
}

.map-page {
  display: flex;
  justify-content: space-between;
  gap:2rem;
}

.card {
  margin-top:1rem;
}

.show.map #map {
  width: 100%;
  height: 100%;
}