.hidden{
  display:none
}

.mapboxgl-popup-content{
  padding: 0px;
}

.img-pop{
  /* border: rgb(99, 96, 97) solid 2px; */
  padding: 0 ;
}

.half-bottom{
  padding: 8px;
}

.card-body-popup{
  background-color: #FCFCFC ;
}

.details-price{
  display: flex;
  justify-content: space-around;
}

.price-popup{ 
  /* border: teal 1px solid; */
  display: flex;
  align-items: center;
}

.geocoder {
position: absolute;
z-index: 100000000;
width: 50%;
left: 145px;
top: 18px;
}
.mapboxgl-ctrl-geocoder {
min-width: 100%;
max-height: 50px;
}
.mapboxgl-ctrl-geocoder--input {
height:38px;
}
.show.mapindex #map {
  width: 100%;
  height: 100%;
}

.show.mapindex.cwshow #map{
  width: 50%;
}
