.mapboxgl-popup-content{
  padding: 0px;
}

.img-pop{
  /* border: rgb(99, 96, 97) solid 2px; */
  padding: 0 ;
}

.half-bottom{
  padding: 1em;
}

.card-body-popup{
  background-color: #FCFCFC ;
}

.details-price{
  display: flex;
  justify-content: space-between;
}

.price-popup{ 
  border: teal 1px solid;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  font-family: 'Baloo 2';
  margin-bottom: 0em;
  margin-right: 1em;
}

.geocoder {
  position: relative;
  top: 2.65rem;
  left: 0.3rem;
  width: 60%;
  align-items: center;
  justify-content: center;
}

.geocoderhome {
  position: relative;
  top: 1rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  /* border: 3px lime solid; */
}

.mapboxgl-ctrl-geocoder {
  max-height: 50px;
  font-family: 'Josefin Sans';
  max-width: 30rem;
  display: flex;
  width: 40%;
}

.mapboxgl-ctrl-geocoder--input {
height:38px;
}


.mapboxgl-ctrl-geocoder--input:focus {
  outline:solid 1px var(--color-primary);
}

.show.mapindex #map {
  width: 100%;
  height: 100%;
}

.show.mapindex.cwshow #map{
  height: 70vh;
}

.cw-name{
  font-size: 1.5em;
}

.cw-adresse{
  font-size: 1em;
}

.mapboxgl-popup-close-button{
  color: white;
  width: 1rem; 
  height: 1rem; 

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  font-size: 2rem;
}
.loader {
  position: fixed;
  color:teal;
  top:50%;
  left:50%
}

@media (max-width:639px) {

  .mapboxgl-ctrl-geocoder input {
    padding: 6px 35px;

  }



  .mapboxgl-ctrl-geocoder input::placeholder {
    font-size: 0.9rem;
  }

  .mapboxgl-ctrl-geocoder--icon-search {
    top:8px;
    left: 6px;
    height:20px;
  }

  .mapboxgl-ctrl-geocoder {
    width: 40%;
  }
  
}