
.navbar {
  background-color: transparent;
  color: black;
  box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 0 1rem;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10000;
}

.navbar a {
  color: inherit;
  transition: 0.5s all;
}

.navbar a:hover {
  color: teal;
}

.navbar .navbar-brand {
  font-size: 3rem;
  font-family: 'Baloo 2';
  font-weight: 700;
  color: var(--color-primary);
}

.navbar .navbar-brand:hover {
  color: teal;
}

.dropdown-btn {
  min-width: 3rem;
  min-height: 3rem;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: transparent;
  border-color: transparent;
  border-radius: 0;
  font-size: 2rem;
}

.my-account-dropdown {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.dropdown-btn:focus {
  border-color: 0px transparent solid;
  outline-color: var(--color-primary);
  outline-width: 1px;


}

.dropdown-menu:focus {
}

.dropdown-item:active {
  background-color: var(--color-primary);
  color: white;
}

.dropdown-item:active:hover {
  color: white;
}

.dropdown-item a {
  color: inherit;
}


.dropdown-btn:hover {
  border-color: transparent;
}

.navbar-img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.dropdown-btn img {
  width: 100%;
  height: 100%;
}

.navbar .nav-link {
  width: max-content;
}

.btn-secondary {
  background-color: var(--color-primary);
  border-color: transparent;
  transition: 0.5s all;
}

.btn-secondary:hover {
  background-color: teal;
  border-color: transparent;
}

.dropdown-menu {
  /* width: 15rem; */
  width: max-content;
  text-align: center;
  outline: hidden;
}

.dropdown-menu p {
  margin:0;
}

.dropdown-menu .btn {
  margin: 0.25rem;
}


.coworking-manager, .coworking-manager p {
  color: teal;
}

.coworking-manager p {
  font-size: 1rem;
  font-weight: bolder;
}
