
.navbar {
  background-color: transparent;
  color: black;
  box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 0 1rem;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10000;
}

.navbar a {
  color: inherit;
}

.navbar a:hover {
  color: teal;
}

.navbar .navbar-brand {
  font-size: 3rem;
  font-family: 'Baloo 2';
  font-weight: 700;
  color: var(--color-primary);
}

.navbar .navbar-brand:hover {
  color: teal;
}

.dropdown-btn {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  overflow: hidden;
  background-color: #a1b6b1;
  border-color: transparent;
}

.dropdown-btn:hover {
  border-color: transparent;
}

.dropdown-btn img {
  width: 100%;
  height: 100%;
}

.navbar .nav-link {
  color: rgba(0, 0, 0, 0.7);
  padding: 12px;
  align-items: center;
  display: flex;
  gap: 0px 20px;
}

.btn-secondary {
  background-color: var(--color-primary);
  border-color: transparent;
}

.btn-secondary:hover {
  background-color: teal;
  border-color: transparent;
}