.photo-team {
    height: 20rem;
    flex-shrink: 0;
    position: relative;
}

.photo-team img {
    width: 100%;
    height: 100%;
}

.jo {
    grid-area: jo;
}

.ambroise {
    grid-area: ambroise;
}

.david {
    grid-area: david;
}

.amelie {
    grid-area: amelie;
}

.marin {
    grid-area: marin;
}

.team-grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: 
      "marin david amelie ambroise jo";
    gap: .25rem;
  }

  .team-grid > div {
    position: relative;
}

  .team-grid img {
      object-fit: cover;
  }

  .team-presentation {
    font-size: 1rem;
    position: absolute;
    inset: 0;
    text-align: center;
    background-color: rgba(0, 128, 128, 0.5);
    color: white;
    padding: 0.25rem;
    display: none;
  }

  .team-grid > div:hover .team-presentation {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.first-name {
  font-size: 1.25rem;
  font-weight: bolder;
}