<p>Salut <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous te contactons pour t'informer que ton email a été modifié en <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous te contactons pour t'informer que ton email a été modifié en <%= @resource.email %>.</p>
<% end %>
