<p>Salut <%= @resource.email %>!</p>

<p>Tu as demandé un lien pour changer ton mot de passe. Tu peux le faire via le lien ci-dessous:</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu n'es pas à l'origine de cette demande, merci d'ignorer ce message.</p>
<p>Ton mot de passe ne sera pas modifié</p>
