<p>Salut <%= @resource.email %>!</p>

<p>Ton compte a été bloqué par un nombre de tentative de connexion trop important.</p>

<p>Clique sur le lien ci-dessous pour le débloquer: </p>

<p><%= link_to 'Débloquer mon compte', unlock_url(@resource, unlock_token: @token) %></p>
